.desing 
    padding-bottom: 100px
    &__section-title
        margin-bottom: 1.9rem
.section-title
    &__heading
        font-size: 1.45rem
        font-weight: normal
    &__text
        font-family: 'Futura Book'
        text-transform: none
        font-size: 1.42rem
        max-width: 52.92rem
        line-height: 27px

        